/* PixlCore.com Custom Styles */

body {
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, system-ui, sans-serif;
}

div.sidebar {
	transition: none;
}
body.loaded {
	transition: 0.2s ease padding-left;
}
body.loaded div.sidebar {
	transition: 0.2s ease left;
}

div.header, div.main {
	margin-left: 60px;
	margin-right: 60px;
}
#d_footer {
	padding-left: 90px;
	padding-right: 90px;
}

div.header > div.header_title {
	color: var(--header-text-color);
}
div.header > div.header_title > i {
	color: var(--header-text-color);
}

body.relative div.header {
	background-size: 140px auto;
}
body.relative div.header > div.header_title {
	position: relative;
	top: 2px;
}

div.box_content {
	padding-left: 180px;
	padding-right: 180px;
}

.box_title .button {
	text-transform: none;
	margin-left: 15px;
}

.button.secondary {
	background: var(--green);
	color: white;
}
.button.secondary:hover {
	background: var(--green-brighter) !important;
	border: 1px solid var(--border-color) !important;
	color: white;
}
body.dark .button.secondary {
	background: var(--green);
	color: white;
}

.button.delete {
	background: var(--red);
	color: white;
}
.button.delete:hover {
	background: var(--red-brighter) !important;
	border: 1px solid var(--border-color) !important;
	color: white;
}
body.dark .button.delete {
	background: var(--red);
	color: white;
}

#d_logo_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--sidebar-width);
	height: var(--header-height);
	z-index: 2;
	cursor: pointer;
}
body.sidebar #d_logo_overlay {
	display: none;
}

div.sidebar > div.title {
	background-size: 150px auto;
}

div.section_title:first-child {
	margin-top: 10px !important;
}

div.box_title_widget.btw_nav {
	font-size: 13px;
}

div.box_title_widget.btw_admin {
	font-size: 13px;
	margin-bottom: 5px;
}

div.inline_page_message {
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 30px;
	text-align: center;
	font-style: italic;
	font-size: 13px;
	color: var(--label-color);
}

.dragover {
	box-shadow: var(--theme-color) 0px 0px 8px 2px;
}

.fixed_page {
	margin-left: 30px;
	margin-right: 30px;
}

.sidebar_foot_pad {
	height: 20px;
}

details {
	overflow: hidden;
	margin-bottom: 1em;
}
/* details[open] > summary {
	margin-bottom: 0.5em;
}

details > summary {
	font-weight: bold;
	color: var(--label-color);
	cursor: pointer;
}
details > summary:hover {
	color: var(--theme-color);
} */

div.detail_title {
	position: relative;
	font-weight: bold;
	color: var(--label-color);
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
div.detail_title:hover {
	color: var(--theme-color);
}
div.detail_title > i.ctrl {
	position: absolute;
	left: -1.5em;
	
	width: 1em;
	height: 1em;
	line-height: 1em;
	text-align: center;
	
	transition: transform 0.25s ease-out;
	transform-origin: center center;
	transform: rotate(-90deg);
}
div.detail_title.expanded > i.ctrl {
	transform: rotate(0deg);
}
div.detail_title.expanded {
	margin-bottom: 15px;
}

/* Custom Icon Test */

i.mdi.mdi-_orchestra:before {
	content: "\F0127";
}
i.mdi.mdi-_orchestra {
	background-image: url(/images/orchestra-logomark.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 75%;
	color: transparent;
}
.section_item:hover > i.mdi.mdi-_orchestra {
	background-image: url(/images/orchestra-logomark-hover.png);
}

/* Loading Indicator */

.loading_container {
	padding-top: 75px;
	padding-bottom: 75px;
}

.loading {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	
	left: 50%;
	margin-left: -20px;
	
	top: 50%;
	margin-top: -20px;
}
.loading:after {
	content: " ";
	display: block;
	width: 32px;
	height: 32px;
	margin: 4px;
	border-radius: 50%;
	border: 3px solid var(--theme-color);
	border-color: var(--theme-color) transparent var(--theme-color) transparent;
	animation: loading 1s linear infinite;
}
@keyframes loading {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Markdown Blocks */

.plain-body-prewrap {
	white-space: pre-wrap;
}

.markdown-body {
	font-size: 16px;
}

.markdown-body * {
	box-sizing: border-box;
}

.markdown-body > *:first-child {
	margin-top: 0 !important;
}

.markdown-body > *:last-child {
	margin-bottom: 0 !important;
}

.markdown-body > blockquote:last-child > p:last-child {
	margin-bottom: 0 !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	position: relative;
	margin-top: 40px;
	margin-bottom: 16px;
	font-weight: 600;
	line-height: 1.25;
	color: var(--theme-color);
}

.markdown-body h1 {
	font-size: 1.4em;
}
.markdown-body h2 {
	font-size: 1.3em;
}
.markdown-body h3 {
	font-size: 1.2em;
}

.markdown-body h5,
.markdown-body h6 {
	font-size: 14px;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
	margin-top: 0;
	margin-bottom: 16px;
	/* word-break: break-word; */
	line-height: 1.5;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

.markdown-body li {
	line-height: 1.5;
}

.markdown-body li.task {
	list-style-type: none;
}

.markdown-body blockquote {
	border-left: 2px solid var(--icon-color);
	margin-left: 0;
	padding-left: 30px;
	font-style: italic;
	color: var(--label-color);
}

.markdown-body div.table {
	overflow-x: auto;
}

.markdown-body table {
	border: 1px solid var(--border-color);
	border-collapse: collapse; 
	border-spacing: 0;
}

.markdown-body table tr th {
	padding: 2px 20px 2px 3px;
	border-bottom: 1px solid var(--border-color);
	background-color: var(--form-background-color);
	font-weight: 600;
	color: var(--label-color);
	text-align: left;
	white-space: nowrap;
}

.markdown-body table tr td {
	padding: 10px 15px 10px 3px;
	border-bottom: 1px solid var(--border-color);
}

.markdown-body input {
	font: inherit;
	margin: 0;
	overflow: visible;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.markdown-body [type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}

.markdown-body p code, .markdown-body td code, .markdown-body li code {
	font-family: var(--font-family-monospace);
	background-color: var(--form-background-color);
	border: 1px solid var(--border-color);
	border-radius: 4px;
	padding: 2px 4px 2px 4px;
	margin-left: 3px;
	margin-right: 3px;
	/* font-size: 13px; */
	font-size: 0.85em;
}

.markdown-body td code {
	position: relative;
	top: -1px;
}

.markdown-body pre {
	background-color: var(--form-background-color);
	font-family: var(--font-family-monospace);
	white-space: pre;
	overflow-x: auto;
	/* background-color: var(--border-color);
	border: 1px solid var(--icon-color); */
	border-radius: 2px;
	padding: 15px 15px 15px 15px;
	/* font-size: 13px; */
	font-size: 0.85em;
	margin-left: 20px;
	margin-right: 20px;
}

.markdown-body pre code {
	font-family: var(--font-family-monospace);
}

/* .markdown-body.code h1,
.markdown-body.code h2,
.markdown-body.code h3,
.markdown-body.code h4,
.markdown-body.code h5,
.markdown-body.code h6 {
	color: var(--theme-color);
}

.markdown-body.code p code {
	background-color: var(--form-background-color);
	border: 1px solid var(--border-color);
}
.markdown-body.code pre {
	background-color: var(--form-background-color);
	border: 1px solid var(--border-color);
	padding: 3px;
} */

.markdown-body hr {
	border: none;
	height: 1px;
	background-color: var(--border-color);
}

.markdown-body li.checkbox_container {
	display: block;
	line-height: 1em !important;
	padding-bottom: 5px;
}

.markdown-body li.checkbox_container:first-child {
	margin-top: 5px !important;
}

.markdown-body li.checkbox_container > input {
	width: 1em !important;
	height: 1em !important;
}

.markdown-body li.checkbox_container:hover {
	color: var(--body-text-color);
}

.markdown-body li.checkbox_container > input:hover ~ label:before {
	background-color: var(--theme-color-half) !important;
	border-color: var(--theme-color);
}
.markdown-body li.checkbox_container > input[checked]:hover ~ label:after {
	background-color: var(--theme-color-half) !important;
}

.markdown-body li > p {
	margin-bottom: 0 !important;
}

.markdown-body p > a, .markdown-body li > a {
	font-weight: 600;
	color: var(--theme-color);
}

.markdown-body strong {
	font-weight: 600;
}

.markdown-body a.anchor {
	position: absolute;
	margin-left: -1.5em;
	padding-right: 4px;
	color: var(--icon-color);
	opacity: 0;
}
.markdown-body .heading:hover > a.anchor {
	opacity: 1;
}
.markdown-body a.anchor:hover {
	opacity: 1;
	color: var(--theme-color);
}

.inline_image {
	max-width: 100%;
	cursor: pointer;
	image-orientation: from-image;
}

.caption {
	margin-top: 2px;
	font-size: 11px;
	font-style: italic;
	color: var(--label-color);
	text-align: right;
}

.markdown-body .blocknote {
	border-left: 3px solid var(--active-color);
	margin-left: 0;
	margin-bottom: 16px;
	padding-left: 30px;
	line-height: 1.5;
}
.markdown-body .blocknote .bn_title {
	color: var(--active-color);
	font-weight: bold;
}
.markdown-body .blocknote .bn_content {
	font-style: italic;
	color: var(--label-color);
}
.markdown-body .blocknote.note {
	--active-color: var(--blue);
}
.markdown-body .blocknote.tip {
	--active-color: var(--green);
}
.markdown-body .blocknote.important {
	--active-color: var(--red);
}
.markdown-body .blocknote.warning {
	--active-color: var(--yellow);
}
.markdown-body .blocknote.caution {
	--active-color: var(--purple);
}

/* CodeMirror */

.cm-s-default span.cm-tag { font-weight:normal; }
.cm-s-default span.cm-comment { color: var(--label-color); }
.cm-s-default span.cm-header { color: var(--theme-color); }
.cm-s-default span.cm-property { color: var(--purple); }

.cm-s-shadowfox span.cm-comment { color: var(--label-color); }
.cm-s-shadowfox span.cm-header { color: var(--theme-color); }

/* Blog */

.box_title.blog {
	font-size: 24px;
	text-transform: none;
	padding-top: 30px !important;
	padding-left: 180px !important;
	padding-right: 180px !important;
	padding-bottom: 0px !important;
}

.author_box {
	display: grid;
	grid-template-columns: 64px auto;
	grid-column-gap: 16px;
	
	margin-top: 20px !important;
	margin-bottom: 0px !important;
}

.author_avatar {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	
	background-color: var(--theme-color);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 64px 64px;
}

.article_info > div {
	margin-bottom: 8px;
	color: var(--label-color);
}

.article_info > div i.mdi:before {
	transform: scale(1.2);
}

.article_preview_title {
	font-size: 16px;
	font-weight: bold;
	color: var(--label-color);
	margin-bottom: 6px;
}

.article_fin {
	font-size: 20px;
	color: var(--icon-color);
}

.article_preview_summary {
	font-size: 14px;
	font-style: italic;
	color: var(--label-color);
	margin-bottom: 6px;
}

.article_preview_info {
	font-size: 13px;
	color: var(--label-color);
	margin-bottom: 30px;
}

.article_preview_info > div {
	float: left;
	padding-right: 8px;
	border-right: 1px solid var(--icon-color);
	margin-right: 8px;
}
.article_preview_info > div:last-of-type {
	padding-right: 0;
	border-right: none;
	margin-right: 0;
}

.article_index_month {
	margin-top: 30px;
	margin-bottom: 5px;
	color: var(--label-color);
	text-transform: uppercase;
}
.article_index_month:first-of-type {
	margin-top: 0px;
}

.article_index_title {
	font-size: 14px;
	/* font-weight: bold; */
	color: var(--label-color);
	margin-bottom: 8px;
}

/* Repo */

.box_title.repo {
	font-size: 24px;
	text-transform: none;
	padding-top: 30px !important;
	padding-left: 30px !important;
	padding-right: 30px !important;
	padding-bottom: 20px !important;
}

/* Swatch / Table Row Colors */

.clr_red, ul.clr_red > div { background-color: rgba(255, 0, 0, 0.1) !important; }
.clr_green, ul.clr_green > div { background-color: rgba(0, 255, 0, 0.1) !important; }
.clr_blue, ul.clr_blue > div { background-color: rgba(0, 0, 255, 0.1) !important; }
.clr_skyblue, ul.clr_skyblue > div { background-color: rgba(0, 255, 255, 0.1) !important; }
.clr_yellow, ul.clr_yellow > div { background-color: rgba(255, 255, 0, 0.1) !important; }
.clr_purple, ul.clr_purple > div { background-color: rgba(255, 0, 255, 0.1) !important; }
.clr_orange, ul.clr_orange > div { background-color: rgba(255, 128, 0, 0.1) !important; }

body.dark .clr_blue, body.dark ul.clr_blue > div { background-color: rgba(64, 64, 255, 0.3) !important; }
body.dark .clr_red, body.dark ul.clr_red > div { background-color: rgba(255, 64, 64, 0.2) !important; }

span.swatch {
	border-radius: 5px;
	padding: 3px 5px 3px 5px;
	color: rgba(255, 255, 255, 0.75);
	font-family: var(--font-family-monospace);
	font-size: 12px;
	/* font-weight: bold; */
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
	cursor: default;
	white-space: nowrap;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
span.swatch.lite {
	color: rgba(0, 0, 0, 0.75);
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75);
}

/* Misc */

div.td_big {
	color: var(--label-color);
}

.wrap_mobile {
	white-space: nowrap;
}

.fr_content .checkbox_container label i {
	text-indent: 0;
}

.nowrap {
	white-space: nowrap;
}

.dialog.inline {
	margin-top: 60px;
	margin-bottom: 60px;
}

.section_item {
	padding-left: 37px;
}
.section_item.filtered {
	color: var(--icon-color);
}

.multiselect > .item {
	font-size: 13px;
}

.form_row.single {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "b";
	grid-column-gap: 20px;
	margin-bottom: 15px;
}

#fe_header_search:placeholder-shown {
	text-overflow: ellipsis;
}

.data_table tr.disabled td {
	opacity: 0.6;
}

.dialog_box_content {
	font-size: 13px;
	margin: 30px;
	width: 500px;
	/* padding-bottom: 15px; */
}

.dialog_box_content.maximize .form_row {
	margin-bottom: 18px;
}

.dialog_box_content.maximize .form_row {
	grid-template-columns: 1fr;
	
	grid-template-areas:
		"a"
		"b"
		"d";
	
	grid-column-gap: 20px;
}
.dialog_box_content.maximize .form_row > div.fr_label {
	justify-self: start;
	margin-bottom: 4px;
}
.dialog_box_content.maximize .form_row > div.fr_suffix {
	display: none;
}

.table_menu_container {
	position: relative;
	text-align: center;
	line-height: 21px;
	font-size: 13px;
	
	width: 100%;
	height: 21px;
	
	/* background-color: rgba(255, 0, 0, 0.1); */
}

.table_menu_container select {
	position: relative;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: pointer;
	
	width: 100%;
	height: 21px;
	opacity: 0;
}
.table_menu_container select:hover ~ i {
	color: var(--theme-color);
}

.table_menu_container i {
	width: 21px;
	height: 21px;
}

/* Basic Responsive Overrides */

@media only screen and (min-width: 1451px) and (max-width: 1600px) {
	
	div.box_content {
		padding-left: 120px;
		padding-right: 120px;
	}
	
	.box_title.blog {
		padding-left: 120px !important;
		padding-right: 120px !important;
	}
	
}

@media only screen and (min-width: 1281px) and (max-width: 1450px) {
	
	div.box_content {
		padding-left: 90px;
		padding-right: 90px;
	}
	
	.box_title.blog {
		padding-left: 90px !important;
		padding-right: 90px !important;
	}
	
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
	div.header, div.main {
		margin-left: 30px;
		margin-right: 30px;
	}
	#d_footer {
		padding-left: 60px;
		padding-right: 60px;
	}
	
	div.box_title div.box_title_widget {
		display: none;
	}
	
	.wrap_mobile {
		white-space: normal;
	}
	
	div.box_content {
		padding-left: 60px;
		padding-right: 60px;
	}
	
	.box_title.blog {
		padding-left: 60px !important;
		padding-right: 60px !important;
	}
}

/* Tablets */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	body.sidebar {
		--sidebar-width: 165px;
	}
	
	div.header, div.main {
		margin-left: 0px;
		margin-right: 0px;
	}
	#d_footer {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	div.sidebar > div.title {
		background-size: 140px auto;
	}
	div.sidebar .section_item {
		padding-left: 30px;
	}
	
	div.box_content {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.box_title.blog {
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
	
	div.box_title div.box_title_widget {
		display: none;
	}
	
	.form_row {
		grid-template-columns: 2fr 6fr 1fr;
	}
	.form_row.widest {
		grid-template-columns: 1fr 20fr 1fr !important;
		
		grid-template-areas:
			"a b c"
			". d ." !important;
	}
	
	.dialog.inline {
		margin-top: 75px;
		margin-bottom: 75px;
	}
	
	.wrap_mobile {
		white-space: normal;
	}
}

/* Phones */

@media only screen and (min-width: 240px) and (max-width: 767px) {
	body {
		/* --sidebar-width: 165px; */
		--sidebar-width: 215px;
	}
	
	div.header, div.main {
		margin-left: 0px;
		margin-right: 0px;
	}
	#d_footer {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	body.sidebar #d_sidebar_toggle {
		display: block;
	}
	
	body.sidebar div.header > div.header_title {
		padding-left: 20px;
	}
	
	body.sidebar {
		padding-left: 0;
	}
	div.sidebar > div.title {
		background-size: 140px auto;
	}
	div.sidebar .section_item {
		padding-left: 30px;
	}
	
	div.sidebar {
		left: calc( 0px - var(--sidebar-width) ) !important;
	}
	div.sidebar.force {
		left: 0 !important;
	}
	
	div.box_content {
		padding: 20px;
	}
	
	.box_title.blog {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	
	div.box_title div.box_title_widget {
		display: none;
	}
	
	.form_row {
		grid-template-columns: 1fr;
		
		grid-template-areas:
			"a"
			"b"
			"d";
		
		grid-column-gap: 20px;
	}
	.form_row > div.fr_label {
		justify-self: start;
		margin-bottom: 6px;
	}
	.form_row > div.fr_suffix {
		display: none;
	}
	
	.form_row.widest {
		grid-template-columns: 1fr 20fr 1fr !important;
		
		grid-template-areas:
			"a b c"
			". d ." !important;
	}
	
	.dialog.inline {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	
	#d_footer {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.header_widget.button {
		width: 30px;
		padding: 0;
		font-size: 18px;
		line-height: 29px;
		text-align: center;
	}
	.header_widget.button i {
		position: relative;
		left: 1px;
	}
	.header_widget.button span {
		display: none;
	}
	
	.button.mobile_collapse i {
		position: relative;
		left: 2px;
	}
	.button.mobile_collapse i:before {
		transform-origin: center center;
		transform: scale(1.5);
	}
	.button.mobile_collapse span {
		display: none;
	}
	
	.wrap_mobile {
		white-space: normal;
	}
	
	.stat_box_row {
		grid-template-columns: 1fr;
	}
	
	.sidebar_foot_pad {
		height: 60px;
	}
	
	.mobile_hide {
		display: none;
	}
	
	.dialog_box_content {
		max-width: 500px;
	}
}

/* Smaller Phones */

@media only screen and (min-width: 240px) and (max-width: 500px) {
	div.header {
		padding-right: 15px;
	}
	
	div.box {
		margin: 15px;
	}
	div.box:first-of-type {
		margin-top: 5px;
	}
	
	.dialog.inline {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	
	.header_widget.button {
		width: 30px;
		padding: 0;
		font-size: 18px;
		line-height: 29px;
		text-align: center;
	}
	.header_widget.button i {
		position: relative;
		left: 1px;
	}
	.header_widget.button span {
		display: none;
	}
	
	.button.mobile_collapse span {
		display: none;
	}
	
	.dialog_box_content {
		max-width: 500px;
	}
	
	div.box_content {
		padding-left: 20px;
		padding-right: 20px;
	}
	
}
